---
title: Our Team
---

h3 Leadership
p 
  | Jubilee Church is led by a team that is headed up by Derek Holl and
  | collectively they have responsibility for the overall vision and direction of
  | the Church.  Each member of the leadership team is committed to seeing the local
  | church growing and working together and is passionate about seeing individuals
  | empowered and released to serve the community in which we live.  Our desire is
  | for people, whoever they are and whatever their background, to encounter Jesus
  | Christ and to experience His love, grace and life for themselves.

h3 Trustees 
p 
  | The Trustees are the people responsible for the control and
  | management of a charity and who serve on its Governing Body.  Trustees have, and
  | must accept, ultimate responsibility for directing the affairs of a charity and
  | ensuring that it is solvent, well run and meeting the needs for which it has
  | been set up. (Quoted from The Charity Commission)
  
  h3 Staff
  p 
  | We are pleased to be able to employ a small team of part-team staff to support 
  | the work of the Church. Each person brings their skills to benefit children,  
  | young people and adults who are part of Jubilee Church, the local community, the  
  | wider Church across our borough and beyond. We also have many volunteers helping 
  | in many areas of church life. Our volunteer Pastoral Team Leader oversees support
  | for individuals in the church.


- var derek =    { first: "Derek",       last: "Holl",      img: "derek.jpg",    roles: ["Church Leader","Leadership Team", "Trustee"] }
- var jackie =   { first: "Jackie",      last: "Mills",     img: "jackie.jpg",   roles: ["Leadership Team"] }
- var clare =    { first: "Clare",       last: "Holl",      img: "Clare.jpeg",   roles: ["Leadership Team", "Trustee"] }
- var jason =    { first: "Jason",       last: "Frank",                          roles: ["Leadership Team"] }
- var lisette =  { first: "Lisette",     last: "Hill",      img: "lisette.jpg",  roles: ["Leadership Team", "Operations Manager"] }
- var jess =     { first: "Jessica-Ann", last: "Jenner",    img: "Jess.JPG",     roles: ["Children and Families Worker"] }
- var natasha =  { first: "Natasha",     last: "Dixon",                          roles: ["Trainee Youthworker"] }
- var jon =      { first: "Jon",         last: "Mills",     img: "jon.jpg",      roles: ["Trustee"] }
- var david =    { first: "David",       last: "Wood",      img: "david.jpg",    roles: ["Trustee"] }
- var asanga =   { first: "Asanga",      last: "Fernando",                       roles: ["Trustee"] }
- var barney =   { first: "Barney",      last: "Wanstall",  img: "barney.jpg",   roles: ["Trustee - Chair"] }
- var carol =    { first: "Carol",       last: "Stephens",                       roles: ["Pastoral Team Leader"] }
- var leaders = [derek, jackie, clare, lisette, jason, barney, jon, david, asanga, jess, natasha, carol]

.row
  each person, index in leaders
    .col-xs-6.col-sm-4
      .thumbnail
        if (person.img)
          img.media-object(src='/img/leaders/'+person.img, alt="#{person.first} #{person.last}'s Photo")
        .caption
          h3 #{person.first} #{person.last}
          p
            each role in person.roles
              strong=role
              br
    if (index + 1) % 2 == 0
      .clearfix.visible-xs
    if (index + 1) % 3 == 0
      .clearfix.visible-sm.visible-md.visible-lg
